<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BusDAO">
	<select id="busList" parameterType="HashMap"
		resultType="kr.kosta.bus.model.BusDTO">
		select * from (select A.*, rownum r from (select * from
		bus order by b_no) A)
		where r >= #{start} and r &lt;= #{end}

	</select>
	<select id="getBusCount" resultType="Integer">
		select count(*) from bus
	</select>
	
	<insert id="busInsert" parameterType="kr.kosta.bus.model.BusDTO">
		insert into bus values (#{b_no}, #{b_year}, #{b_energy}, 
			#{b_start}, #{b_type}, #{b_acc},
			'대기중', #{b_mile},  #{b_recent})
	</insert>
	
	<update id="busUpdate" parameterType="kr.kosta.bus.model.BusDTO">
		update bus set b_type = #{b_type}, b_acc = #{b_acc}, b_mile = #{b_mile}
			where b_no = #{b_no}
	</update>
	
	<delete id="busDelete" parameterType="String">
		delete from bus where b_no = #{b_no}
	</delete>
	
	<select id="busSelect" parameterType="String" resultType="kr.kosta.bus.model.BusDTO">
		select * from bus where b_no = #{b_no,jdbcType=VARCHAR}
	</select>
	
	<insert id="busRepairInsert" parameterType="String">
		insert into repair (re_code, re_b_no, re_date, re_state) values(NEXT_RE_CODE, #{b_no}, sysdate, '정비접수')
	</insert>
	
	<update id="stateUpdateRrepair" parameterType="String">
		update bus set b_state = '정비접수' where b_no = #{a_b_no}
	</update>
	
	<select id="bnoCheck" parameterType="String" resultType="Integer">
		select count(*) from bus where b_no = #{b_no}
	</select>

</mapper>