<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ComplaintDAO">

	<select id="blist" parameterType="HashMap" resultType="kr.kosta.bus.model.BusDTO">
		select b_no from bus
		order by b_no
	</select>

	<select id="elist" parameterType="HashMap" resultType="kr.kosta.bus.model.EmployerDTO">
		select e_no, e_name from employer
		order by e_no
	</select>

	<select id="complaintList" parameterType="HashMap" resultType="kr.kosta.bus.model.ComplaintDTO">
		select * from (select A.*, rownum r from (select * from complaint order by c_no desc) A)
		where r >= #{start} and r &lt;= #{end} 
		<!-- select d.* from ( select a.*, rownum rn from (
		select c.c_no, c.c_title, c.c_type , c_content, c_date, b.b_no as "c_b_no", e.e_no as "c_e_no", e.e_name as "c_e_name"
		from bus b, employer e, complaint c
		where b.b_no = c.c_b_no and e.e_no = c.c_e_no order by c.c_no desc) a ) d
		where rn between #{start} and #{end} -->
  	</select>
	
	<insert id="complaintInsert" parameterType="kr.kosta.bus.model.ComplaintDTO">
		insert into complaint(c_no, c_title, c_type, c_date, c_content, c_b_no, c_e_no, c_e_name) 
        values((select NVL(max(c_no), 0)+1 from complaint), #{c_title}, #{c_type}, #{c_date}, #{c_content}, #{c_b_no}, #{c_e_no}, #{c_e_name})
	</insert>
	
	<update id="complaintUpdate" parameterType="kr.kosta.bus.model.ComplaintDTO">
		update complaint set c_title = #{c_title}, c_type = #{c_type}, c_content = #{c_content} where c_no = #{c_no}
	</update>
	
	<delete id="complaintDelete" parameterType="Integer">
		delete from complaint where c_no = #{c_no}
	</delete>
	
	<select id="complaintDetail" parameterType="Integer" resultType="kr.kosta.bus.model.ComplaintDTO">
		select * from complaint where c_no = #{c_no}
		
		<!-- select b.b_no as "c_b_no", e.e_no as "c_e_no", e.e_name as "c_e_name", c.c_no, c.c_title, c.c_type, c.c_date, c_content 
		from bus b, employer e, complaint c
		where  b.b_no = c.c_b_no and e.e_no = c.c_e_no and e.e_name = c.c_e_name and c_no = #{c_no} -->
	</select>

	<select id="getcomplaintCount" resultType="Integer">
		select count(*) from complaint
	</select>

</mapper>