<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FuelDAO">
			<select id="fuelList" parameterType="HashMap" resultType="kr.kosta.bus.model.FuelDTO">
				select * from (select A.*, rownum r from (select * from fuel order by f_code desc) A)
				where r >= #{start} and r &lt;= #{end}
			</select>
			<select id="bflist" parameterType="HashMap" resultType="kr.kosta.bus.model.BusDTO">
					select b_no,b_energy from bus order by b_no 
				</select>
			
		<!--<insert id="repairInsert" parameterType="kr.kosta.bus.model.RepairDTO">
			insert into repair values(repair_code, #{re_b_no}, #{re_date}, 
			#{re_breakdown}, #{re_cost}, #{re_state}, #{re_bigo}) -->

			<insert id="fuelInsert" parameterType="kr.kosta.bus.model.FuelDTO">
		    insert into fuel(f_code, f_b_no, f_b_energy, f_date, f_charge, f_cost, f_payment, f_nametag, f_bigo) 
		    	values(NEXT_F_CODE, #{f_b_no}, #{f_b_energy}, #{f_date},#{f_charge}, #{f_cost}, #{f_payment,jdbcType=VARCHAR}, #{f_nametag,jdbcType=VARCHAR}, #{f_bigo,jdbcType=VARCHAR})
			</insert>
		
			<update id="fuelUpdate" parameterType="kr.kosta.bus.model.FuelDTO">
	            update fuel set f_date2=sysdate,f_payment='결제완료' where f_code=#{f_code,jdbcType=VARCHAR} 
	         </update>
	         
	         <insert id="faccInsert" parameterType="kr.kosta.bus.model.FuelDTO">
	          insert into account(ac_code, ac_cost, ac_date, ac_bigo, ac_name, ac_state)   
				select f_code, f_cost, f_date, f_bigo, f_nametag, '매입' from fuel where f_code = #{f_code}
	         </insert>
	         
			<delete id="fuelDelete" parameterType="String">
				delete from fuel where f_code = #{f_code}
			</delete>
			
			<select id="getfuelCount" resultType="Integer">
				select count(*) from fuel
			</select>
			
			<select id="fselect" parameterType="HashMap" resultType="kr.kosta.bus.model.RepairDTO">
				select * from fuel where f_code = #{f_code}
			</select>
			
</mapper>