<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="WonlyoDAO">
	
			<select id="wonlyoList" parameterType="HashMap" resultType="kr.kosta.bus.model.WonlyoDTO">
				select * from wonlyo
			</select>
			
			<select id="selectBy"  parameterType="HashMap" resultType="kr.kosta.bus.model.WonlyoDTO">
				select *from wonlyo where wo_code = #{wo_code}
			</select>
			
		<!-- <insert id="wonlyoInsert" parameterType="kr.kosta.bus.model.WonlyoDTO">
			insert into repair values(repair_code, #{re_b_no}, #{re_date}, 
			#{re_breakdown}, #{re_cost}, #{re_state}, #{re_bigo}) 
		</insert> -->
		
		
			<update id="wonlyoUpdate" parameterType="kr.kosta.bus.model.WonlyoDTO">
				update wonlyo set wo_total = #{wo_total} where wo_code = #{wo_code,jdbcType=VARCHAR}
			</update>
	
<!-- 		<delete id="repairDelete" parameterType="String">
				delete from repair where re_code = #{re_code}
			</delete>
			<select id="getRepairCount" resultType="Integer">
				select count(*) from repair		

			</select> --> 
</mapper>